@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.underlinedLink::after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: grow 0.4s forwards;
}
