@import '@/styles/var.scss';

.layout {
  display: grid;
  grid-template-columns: 1fr;

  grid-template-areas:
    'content';

  @include lg {
    grid-template-columns: 280px 1fr;

    grid-template-areas:
      'sidebar content'
  }
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
  height: calc(100vh);
  overflow-y: auto;
}
